<div id="app">
   <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Jamal</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
            <li class="nav-item">
              <a href="/home" class="nav-link" routerLink="home">Home </a>
            </li>
            <li class="nav-item">
               <a href="/naoexiste" class="nav-link" routerLink="naoexasdte">404</a>
             </li>
        </ul>    
   </nav>
   <div class="container">
        <router-outlet></router-outlet>
   </div>
</div>

