<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="assets/images/logo.png" alt="">
            <span class="logo-name">Planilha</span>
        </div>
    </div>

    <!-- Area dos Menus laterais-->
    <div class="menu-items">
        <ul class="nav-links">
            <li *ngFor="let menus of menus">
                <a href={{menus.link}}>
                <i class="uil uil-{{menus.icon}}"></i>
                <span class="link-name">{{menus.nome}}</span>
                </a>
            </li>
        </ul>
    </div>
    
<router-outlet></router-outlet>
  
<div style="display: none;">
    <app-sidebar></app-sidebar>
</div>

</nav>



